[user]
name = mingwiki
email = mingwiki@gmail.com
[core]
editor = nvim
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[init]
	defaultBranch = master
[credential]
	helper = store
