[submodule "ohmyzsh/plugins/zsh-autosuggestions"]
path = ohmyzsh/plugins/zsh-autosuggestions
url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "ohmyzsh/themes/powerlevel10k"]
path = ohmyzsh/themes/powerlevel10k
url = https://gitee.com/romkatv/powerlevel10k.git
[submodule "ohmyzsh/plugins/zsh-syntax-highlighting"]
path = ohmyzsh/plugins/zsh-syntax-highlighting
url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "neofetch/themes"]
path = neofetch/themes
url = https://github.com/Chick2D/neofetch-themes.git
