[user]
name = mingwiki
email = mingwiki@gmail.com
[core]
editor = nvim
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[safe]
	directory = /home/root/.config
[http]
	sslVerify = false
[http "https://git.kernel.org"]
	proxy = socks5h://127.0.0.1:20000
	sslVerify = false
[http "https://github.com"]
	proxy = socks5h://127.0.0.1:20000
	sslVerify = false
[https]
	sslVerify = false
[https "https://git.kernel.org"]
	proxy = socks5h://127.0.0.1:20000
	sslVerify = false
[https "https://github.com"]
	proxy = socks5h://127.0.0.1:20000
	sslVerify = false
