*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

TabNine/

**/__pycache__/
**/node_modules/

nvim/lazy-lock.json

code-server/
chromium/
caddy/
nextjs-nodejs/
nali/
thefuck/
qBittorrent/
go/
zellij
pgcli/history
pgcli/log
litecli/history
litecli/log
ookla/
